* {
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html, body {
    height:100%;
    width:100%;
}
body{
  /* background-color: #111; */
}

button{
  position: absolute;
  left: 50vw;
  transform: translate(-50%,-50%);
  padding: 15px 30px;
  color: #fff;
  font-size: 25px;
  font-weight: 600;
  border: none ;
  background-color: lightseagreen;
  border-radius: 5px;
  top: 50vh;
}
button:active{
  scale: 0.95;
}

img{
  position: absolute;
  height: 100px;

}