@tailwind base;
@tailwind components;
@tailwind utilities;


h1{
  font-family: monument;
  
  font-size: 50px;
  text-decoration: underline;

  font-weight: 100;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%,-50%);
  position: absolute;
  white-space: nowrap;
}